<h1>Trader Portfolio </h1>
<%= render "partials/navigation" %>

<% if @portfolio && current_user.status == "approved" %>

  <p>Overall Worth: <%= format_currency(@portfolio.overall_worth) %></p>

  <h2>Properties</h2>
  <% if !@properties.empty? %>

    <% @properties.each do |property| %>
      <% stock = set_stock(@stocks, property.stock_id) %>
      <div> 
      <%= render "partials/property", stock: stock, property: property %>
      <%= link_to "View", property_path(property) %>
      </div>
    <% end %> 

  <% else %>
    <p>You can now add stock properties to your porfolio.</p>
    <%= link_to "Check Market", stocks_path %>
  <% end %>

<% else %>

  <h2>Heads Up!</h2>
  <%= render "partials/notice", status: current_user.status, portfolio: @portfolio %>
	<% if !@portfolio %>

    <div>
      <h3>Setup Portfolio</h3>
      <p>All it takes is single click! It's that easy!</p>
      <%= link_to "Setup Portfolio", create_portfolio_path, data: { turbo_method: :post } %>		
    </div>
    
	<% end %>

<% end %>
