<h1>Admin Dashboard</h1>
<%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete } %>
<%= render "partials/navigation" %>
<div>
  <p><%= "#{current_user.last_name}, #{current_user.first_name}" %></p>
  <p>Role: <%= current_user.role.capitalize %></p>
  <p>ID#: <%= current_user.id %></p>
  <%= link_to "Edit", user_edit_path(current_user.role) %>
</div>

<h2>Notice</h2>
<div>
  <p>There are <strong><%= pending_trader_count(@traders) %> pending</strong> trader accounts waiting for approval. 
    <%= link_to "Resolve", accounts_path %>
  </p>
</div>

<h2>Statistics</h2>
<div>
  <h3>Accounts <%= @traders.count %></h3>
  <p>Pending <%= pending_trader_count(@traders) %></p>
  <p>Approved <%= approved_trader_count(@traders) %></p>
</div>

<!-- Future features to be implemented -->
<div>
  <h3>Transactions n</h3>
  <p>Buy n</p>
  <p>Sell n</p>
</div>
<div>
  <h3>Stocks</h3>
  <p>Most Buys n</p>
  <p>Most Sells n</p>
</div>