<%= render "partials/header" %>
<main class="flex-1 flex pb-20 lg:pb-0">
  <%= render "partials/navigation", page: "Market" %>
  <section class="flex-1 p-5 lg:px-10 max-w-full overflow-x-auto">
    <%= render "partials/alerts" %>

    <!-- Title -->
    <h1 class="font-bold text-secondary">Stock Market</h1>
    <h2 class="text-3xl lg:text-4xl mb-2 font-bold ">Stocks Listing</h2>

    <!-- Search Bar -->
    <%= form_with(url: check_stock_path, class: "my-3 flex gap-5") do |f| %>

      <%= f.text_field :search, 
        placeholder: "Ticker | Stock Symbol",
        class: "w-full lg:w-1/3 rounded-xl" %>

      <%= f.submit "Search",
        class:"btn btn-primary" %>

    <% end %>

    <!-- Stocks -->
    <div class="my-10 overflow-x-auto grid xl:grid-cols-2 gap-5">

      <% @stocks.each do |stock| %>

        <%= render "partials/stock_item", stock: stock %>

      <% end %>

    </div>

  </section>
</main>