<h1>Stock Details</h1>
<%= render "partials/navigation" %>

<h2><%= @stock.name %></h2>
<img src=<%= @stock.logo %> alt="Company Logo">
<p>Symbol: <%= @stock.symbol %></p>
<p>Price: <%= @stock.latest_price %></p>

<div>
  <h2>Company Profile</h2>
  <p>Exchange: <%= @stock.exchange %></p>
  <p>Sector: <%= @stock.sector %></p>
  <p>Industry: <%= @stock.industry %></p>
  <p><%= @stock.description %></p>
</div>

<% if current_user.role == "trader" %>

  <% if @portfolio && current_user.status == "approved" %>
    <%= render "transactions/buy_form" %>
    <%= render "transactions/sell_form" %>

    <% if @property %>
      <p>You own <%= @property.quantity %>  <%= "stock".pluralize(@property.quantity) %> of <%= @stock.symbol %></p>
    <% else %>
      <p>You own 0 stocks of <%= @stock.symbol %></p>
    <% end %>

    <% if @transactions %>
      <h2>Recent Transactions (<%= @stock.symbol %>)</h2>
      <% @transactions.each do |transaction| %>
        <%= render "partials/transaction", transaction: transaction, stock: @stock %>
        <%= link_to "View", trader_transaction_path(transaction) %>
      <% end %>
    <% end %>

  <% else %>
    <h2>You're almost there!</h2>
    <%= render "partials/notice", status: current_user.status, portfolio: @portfolio %>
    <%= link_to "Get Started", trader_portfolio_path %>
  <% end %>

<% end %>

<% if current_user.role == "admin" %>
  <h2>Recent Transactions (<%= @stock.symbol %>)</h2>
  <% if !@recent_transactions.empty? %>
    <% @recent_transactions.each do |transaction| %>
      <p><%= "#{transaction.user.last_name}, #{transaction.user.first_name}" %></p>
      <%= render "partials/transaction", transaction: transaction, stock: @stock %>
      <%= link_to "View", admin_transaction_path(transaction) %>
    <% end %>
  <% else %>
    <p>There are no recent transactions with this stock</p>
  <% end %>
<% end %>


