<h1>Property Details</h1>
<%= link_to "All Properties", trader_portfolio_path %>
<%= render "partials/navigation" %>

<h2><%= @stock.name %></h2>
<img src="<%= @stock.logo %>" alt="Company Logo">
<p>Symbol: <%= @stock.symbol %></p>
<p>Price: <%= format_currency(@stock.latest_price)%></p>
<p>Stocks Owned: <%= @property.quantity %></p>
<%= link_to "Check Stock", stock_path(@stock) %>

<h2>Recent Transactions (<%= @stock.symbol %>)</h2>
<% @transactions.each do |transaction| %>
  <%= render "partials/transaction", transaction: transaction, stock: @stock %>
  <%= link_to "View", trader_transaction_path(transaction) %>
<% end %>