<h1>Property Details</h1>
<%= render "partials/navigation" %>

<h2><%= @stock.name %></h2>
<img src="<%= @stock.logo %>" alt="Company Logo">
<p>Symbol: <%= @stock.symbol %></p>
<p>Price: <%= @stock.latest_price %></p>
<p>Stocks Owned: <%= @property.quantity %>
<%= render "transactions/buy_form" %>
<%= render "transactions/sell_form" %>

<div>
  <h2>Company Profile</h2>
  <p>Exchange: <%= @stock.exchange %></p>
  <p>Sector: <%= @stock.sector %></p>
  <p>Industry: <%= @stock.industry %></p>
  <p><%= @stock.description %></p>
</div>

<h2>Transactions for this Property</h2>
<% @transactions.each do |transaction| %>
  <p>Transaction No: <%= transaction.id %></p>
  <%# <p>Name of stock: <%= set_stock(@stocks, transaction.stock_id).name %>
  <p>Name of Stock: <%= set_stock(@stocks, transaction.stock_id).name %>
  <p>Number of stocks: <%= transaction.quantity %></p>
  <p>Type: <%= transaction.action %></p>
<% end %>