<h1>Trader Portfolio </h1>
<%= render "partials/navigation" %>

<% if @portfolio && current_user.status == "approved" %>
  <p>Overall Worth: <%= @portfolio.overall_worth %></p>
<% else %>
	<h2>Notice</h2>
	<h3>To begin trading stocks:</h3>
	<p><%= "[DONE]" if @portfolio %> Initialize Trader Portfolio</p>
	<p><%= "[DONE]" if current_user.status == "approved" %> Trader Account approved</p>
	
	<% if @portfolio.nil? %>
		<%= link_to "Initialize Portfolio", create_portfolio_path, data: { turbo_method: :post } %>			
	<% end %>
<% end %>
