<h1>Trader Portfolio </h1>
<%= render "partials/navigation" %>

<% if @portfolio && current_user.status == "approved" %>
  <p>Overall Worth: <%= @portfolio.overall_worth %></p>

	<% @properties.each do |property| %>
		<div>
			<h2><%= set_stock(@stocks, property.stock_id).name %></h2>
			<p>Stock ID: <%= property.stock_id %></p>
			<p>Stocks Owned: <%= property.quantity %></p>
		</div>
	<% end %>

<% else %>
	<h2>Notice</h2>
	<h3>To begin trading stocks:</h3>
	<p><%= "[DONE]" if @portfolio %> Initialize Trader Portfolio</p>
	<p><%= "[DONE]" if current_user.status == "approved" %> Trader Account approved</p>

	<% if @portfolio.nil? %>
		<%= link_to "Initialize Portfolio", create_portfolio_path, data: { turbo_method: :post } %>			
	<% end %>
<% end %>
