<h1>Transaction Details</h1>
<%= render "partials/navigation" %>

<h2>Stock Name: <%= @stock.name %></h2>
<p>Stock Symbol: <%= @stock.symbol %></p>
<p>Price: <%= @transaction.price %></p>
<p>Quantity: <%= @transaction.quantity %></p>
<p>Total Amount: <%= @transaction.total_amount %></p>
<p>Transaction Type: <%= @transaction.action %></p>

