<h1>Trader Profile</h1>
<%= render "partials/navigation" %>
<div>
  <h2>Account Details</h2>
  <p>Name: <%= "#{@account.last_name}, #{@account.first_name}" %></p>
  <p>Email: <%= @account.email %></p>
  <p>Status: <%= @account.status.capitalize %> 
    <% if @account.status == "pending" %>
      | <%= link_to "Approve", approve_account_path(@account), data: { turbo_method: :patch } %>
    <% end %>
  </p>
  <%= link_to "Edit", edit_account_path(@account) %> |
  <%= link_to "Delete", account_path(@account), data: { turbo_method: :delete, turbo_confirm: "This will delete current trader account and all relevant data. Proceed?" } %>
</div>

<div>
  <h2>Trading Portfolio</h2>
  <% if !@portfolio %>
    <p>Trader Portfolio is yet to be setup</p>
  <% end %>
  <% if @account.status == "pending" %>
    <p>Trader Account is yet to be approved</p>
  <% end %>
  <% if @portfolio %>
    <p>Portfolio Worth: <%= format_currency(@portfolio.overall_worth) %></p>
    <h3>Properties</h3>
    <% if !@properties.empty? %>
      <% @properties.each do |property| %>
        <% stock = set_stock(@stocks, property.stock_id) %>
        <%= render "partials/property", stock: stock, property: property %>
      <% end %>
    <% else %>
      <p>Trader does not own any stock</p>
    <% end %>
  <% end %>
</div>

<div>
  <h2>Latest Transactions</h2>
  <% if !@transactions.empty? %>
    <% @transactions.each do |transaction| %>
      <%= render"partials/transaction", transaction: transaction, stock: nil %>
      <%= link_to "View", admin_transaction_path(transaction) %>
    <% end %>
  <% else %>
    <p>Trader has not made any transactions</p>
  <% end %>
</div>